.nav-navbarCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 90%;
  height: 50px;
  justify-self: center;
  padding: 15px 40px;
  border-radius: 20px;
  margin-top: 10px;
   
    clip-path: polygon(0 0, 100% 0, 45% 100%, 0 100%); 
}

.logo{
    color:#007bff;
    font-weight: bold;
    font-family: Arial, sans-serif;
}