.home-container{
    display: grid;
    grid-template-columns: 1fr 450px; /* izquierda contenido, derecha filtro */
    gap: 20px;
    padding: 20px;
    align-items: start;
    max-width: 100px;
    box-sizing: border-box;

}

.card-vehicule-container{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 25px;
    padding: 100px 25px;
}   

.sildebar-containner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  right: 172px;
  position: sticky;
  top: 40px;
}

.banner-container img {
  width: 450%;
}

 @media (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .sidebar-container {
    position: static;
  }
  .card-vehicule-container {
    grid-template-columns: 1fr;
  }
}